<div class="container">
  <div class="row">
  <h1>Welcome to Reading List</h1>
  <p>Don't have time to read everything in one sitting? No problem! Reading List allows you to save pages to read later.</p>
  <p>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
  </p>
  </div>
</div>

<div class="container">
  <div class="row">
  <div class="col-md-4">
    <h2>Database Driven</h2>
    <p>Save all of your favorites sites to our super duper database and retrieve them anytime you want.</p>
  </div>

<div class="col-md-4">
  <h2>See All, Know All</h2>
  <p>Can't remember if you added something already? View your entire reading list on one page with easy to access topics and their bookmarks.</p>
</div>

<div class="col-md-4">
  <h2>Like and Unlike</h2>
  <p>When your done reading something you can easily "like" it for rereading or "unlike" it to remove it from your list.</p>
</div>
</div>
